Hotelling/Connected Services/UserApiSave/UserAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Save">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="a" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="b" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="c" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="d" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="e" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="f" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaveSoapIn">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="SaveSoapOut">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:portType name="UserAPISoap">
    <wsdl:operation name="Save">
      <wsdl:input message="tns:SaveSoapIn" />
      <wsdl:output message="tns:SaveSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserAPISoap" type="tns:UserAPISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserAPISoap12" type="tns:UserAPISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Save">
      <soap12:operation soapAction="http://tempuri.org/Save" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserAPI">
    <wsdl:port name="UserAPISoap" binding="tns:UserAPISoap">
      <soap:address location="http://localhost:64380/UserAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="UserAPISoap12" binding="tns:UserAPISoap12">
      <soap12:address location="http://localhost:64380/UserAPI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>